@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-5 py-3 font-medium text-white transition duration-200 ease-in-out rounded shadow bg-primary-500 hover:bg-opacity-85;
  }

  .card {
    @apply max-w-md p-8 overflow-hidden bg-white rounded shadow-md;
  }

  .input {
    @apply block py-1 border-gray-300 rounded shadow-sm focus:ring-primary-500 focus:border-primary-500;
  }

  .link {
    @apply cursor-pointer text-primary-600 hover:text-primary-500;
  }
}

:root {
  /* This is used for the spinner and progress bar */
  --color-primary-500: #10b981;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
